@model CaseManagement.ViewModels.Users.ForgotPasswordIOModel

<div class="row">
    <div class="col-md-4 mx-auto text-center">
        <h4>Forgot your password?</h4>
        <h4>Enter your email.</h4>
        <hr />
        <form method="post">
            <div class="form-group">
                <label asp-for="UserEmail"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">RESET</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
