@model CaseManagement.ViewModels.ViewUpdateTaskModel

<div class="row">
    <div class="col-8 mx-auto text-center">
        <section>
            <div class="col-4 mx-auto text-center">
                <h4>Task</h4>
                <hr />
            </div>
            <form asp-action="Update" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="form-group col-4">
                        <fieldset disabled="">
                            <label class="control-label" for="disabledInput">Created on</label>
                            <input class="form-control" id="disabledInput" type="text" value="@Model.CreatedOn" disabled="">
                        </fieldset>
                    </div>
                    <div class="form-group col-4">
                        <label>Type</label>
                        <select asp-for="Type" class="form-control">
                            <option>Select type</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Status</label>
                        <select asp-for="Status" class="form-control">
                            <option>Select status</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Action</label>
                        <input asp-for="Action" type="text" class="form-control" />
                        <span asp-validation-for="Action" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Next action</label>
                        <input asp-for="NextAction" type="text" class="form-control" />
                        <span asp-validation-for="NextAction" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Comments</label>
                        <textarea asp-for="Comments" class="form-control" rows="1"></textarea>
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-info">UPDATE</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
