@model CaseManagement.ViewModels.Output.CaseUpdatesOutputModel

<div class="col-4 mx-auto text-center">
    <h4>Case @Model.CaseNumber Updates Log</h4>
    </div>

    <div class="row mx-auto">
        <div class="card border-primary m-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
