@model CaseManagement.ViewModels.Input.CreateCaseInputModel

<div class="row">
    <div class="col-12 mx-auto text-center">
        <section>
            <h4>Create Case</h4>
            <hr />
            <form method="post">
                <div class="row">
                    <div class="form-group col-4">
                        <label>Case number</label>
                        <input asp-for="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Status</label>
                        <select asp-for="Status" class="form-control">
                            <option>Select status</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Priority</label>
                        <select asp-for="Priority" class="form-control">
                            <option>Select priority</option>
                        </select>
                        <span asp-validation-for="Priority" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Subject</label>
                        <input asp-for="Subject" type="text" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Type</label>
                        <select asp-for="Type" class="form-control">
                            <option>Select type</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Phase</label>
                        <select asp-for="Phase" class="form-control">
                            <option>Select phase</option>
                        </select>
                        <span asp-validation-for="Phase" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Description</label>
                        <textarea asp-for="Description" class="form-control" rows="1"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">CREATE</button>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
