
@{
    ViewData["Title"] = "Agents' Activities";
}

<div class="row">
    <div class="badge badge-pill badge-primary mx-1"><a class="text-light nav-link p-1" href="">Last month</a></div>
    <div class="badge badge-pill badge-primary mx-1"><a class="text-light nav-link p-1" href="">This month</a></div>
    <div class="badge badge-pill badge-primary mx-1"><a class="text-light nav-link p-1" href="">Last week</a></div>
    <div class="badge badge-pill badge-primary mx-1"><a class="text-light nav-link p-1" href="">This week</a></div>
    <div class="badge badge-pill badge-primary mx-1"><a class="text-light nav-link p-1" href="">Yesterday</a></div>
    <div class="badge badge-pill badge-primary mx-1"><a class="text-light nav-link p-1" href="">Today</a></div>
</div>

<div class="row mt-3 form-inline">
    <div class="mr-3">From: <input class="form-control" type="date" /></div>
    <div>To: <input class="form-control" type="date" /></div>
</div>

<div class="row my-3 form-inline">
    Agent:&nbsp;
    <select class="form-control">
        <option>1</option>
        <option>2</option>
    </select>
    <button type="submit" class="btn btn-primary ml-5 px-3 py-2">OK</button>
</div>

<div class="row mr-1">
    <h5>Cases</h5>
    <table class="table table-hover border">
        <thead>
            <tr class="table-active">
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Created cases</th>
                <th scope="col">Updated cases</th>
                <th scope="col">Open cases</th>
                <th scope="col">Closed cases</th>
                <th scope="col">Other cases status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>FullName</td>
                <td>E-mail</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row mr-1">
    <h5>Tasks</h5>
    <table class="table table-hover border">
        <thead>
            <tr class="table-active">
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Created tasks</th>
                <th scope="col">Updated tasks</th>
                <th scope="col">Open tasks</th>
                <th scope="col">Closed tasks</th>
                <th scope="col">Other tasks status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>FullName</td>
                <td>E-mail</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>
</div>