@page
@model AnnouncementsModel
@{
    ViewData["Title"] = "Announcements";
    ViewData["ActivePage"] = ManageNavPages.Announcements;
}

<h4>@ViewData["Title"]</h4>

<div class="row text-center">
    <div class="col-8">

        @if (this.TempData["AnnouncementAdded"] as bool? == true)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Announcement added successfully.</strong>
            </div>
        }
        else if (this.TempData["AnnouncementAdded"] as bool? == false)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Announcement add failed.</strong>
            </div>
        }

        @if (this.TempData["AnnouncementDeleted"] as bool? == true)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Announcement deleted successfully.</strong>
            </div>
        }
        else if (this.TempData["AnnouncementDeleted"] as bool? == false)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Announcement delete failed.</strong>
            </div>
        }

        <form method="post">
            <textarea asp-for="Input.Announcement" rows="11"></textarea>
            <button type="submit" class="btn btn-outline-primary mt-3">Publish</button>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var announcement in Model.Input.AvailableAnnouncements)
    {
        <div class="card bg-secondary col-3 mx-1 mt-3 p-0" style="max-width: 20rem;">
            <div class="card-header">
                @announcement.PublishedOn
                <form class="float-right" method="post">
                    <input type="hidden" name="id" value="@announcement.Id" />
                    <button class="btn btn-sm btn-danger px-2 py-1" type="submit">X</button>
                </form>
            </div>
            <div class="card-body p-2">
                @Html.Raw(announcement.Content)
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @*<script src="https://cdn.tiny.cloud/1/ek0cww80ig7yp0n3ydsqzsuhywxmo1onbnccr5slbtfd6w27/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>*@
    <script src="~/js/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'link',
            toolbar: 'fontsizeselect bold italic underline forecolor backcolor link removeformat',
            toolbar_mode: 'floating',
            branding: false,
        });
    </script>
}